<h3>Tokens</h3>

<div class="row">
<div class="span3">
  <div class="tile">
    <img class="tile-image big-illustration" alt="" src="<%= @user.avatar_hash %>">
    <h3 class="tile-title"><%= @user.name %> / @<%= @user.username %></h3>
    <p><%= @user.ribbits.size %> token, <%= @user.followers.count %> followers, <%= @user.followeds.count %> following</p>
    <% if current_user and @user != current_user %>
      <% if current_user.following? @user %>
        <%= form_tag relationship_path, method: :delete do %>
          <%= submit_tag "Unfollow", class: "btn btn-primary btn-large btn-block" %>
        <% end %>
      <% else %>
        <%= form_for @relationship do %>
          <%= hidden_field_tag :followed_id, @user.id %>
          <%= submit_tag "Follow", class: "btn btn-primary btn-large btn-block" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="span9">
  <%= render :partial => 'shared/internal_token_list' %>
</div>
</div>