<div class="span9">
  <h2>My Memories</h2>
  <%= render :partial => 'shared/internal_token_list' %>
</div>
<div class="span3">
    <div class="tile">
      <img class="tile-image big-illustration" alt="" src="<%= @user.avatar_hash %>">
      <h3 class="tile-title"><%= @user.name %></h3>
      <h4>@<%= @user.username %></h4>
      <h5><%= @user.ribbits.size %> mems</h5>
      <h6><%= @user.followers.count %> followers</h6>
      <h6><%= @user.followeds.count %> following</h6>

    <% if current_user and @user != current_user %>
      <% if current_user.following? @user %>
        <%= form_tag relationship_path, method: :delete do %>
          <%= submit_tag "Unfollow", class: "btn btn-primary btn-large btn-block" %>
        <% end %>
      <% else %>
        <%= form_for @relationship do %>
          <%= hidden_field_tag :followed_id, @user.id %>
          <%= submit_tag "Follow", class: "btn btn-primary btn-large btn-block" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>