<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @app_name %></title>

  <!-- mobile device stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link rel="apple-touch-startup-image" href="startup.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image"/>
  <link rel="apple-touch-startup-image" href="startup-iphone4.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"/>

  <link rel="apple-touch-icon-precomposed" href="touch-icon-iphone.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icon-ipad.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icon-iphone4.png" />

  <link rel="shortcut icon" href="touch-icon-iphone.png">

  <!-- bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

  <!-- flat ui -->
  <link href="/css/flat-ui.css" rel="stylesheet">

  <!-- remaining override css -->
  <link rel="stylesheet" href="/css/style.css">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script type="text/javascript">
    window.addEventListener('load', function() {
      new FastClick(document.body);
    }, false);


  </script>
</head>
<body>
<div class="container">
  <% flash.each do |name, msg| %>
    <dl class="palette palette-alizarin">
      <%= content_tag :dd, msg, class: "flash #{name}" %>
    </dl>
  <% end %>

  <div class="row">
    <div class="span12">
      <!--<h1 class="demo-panel-title"><a href="/" title="Pinecone Home"><%= @app_name %></a></h1>-->
      <% if current_user %>
       <%= render :partial => 'shared/user_menu' %>
      <% end %>
    </div>

  </div>

  <% unless current_user %>
    <%= render :partial => 'shared/signup_form' %>
    <%= render :partial => 'shared/login_form' %>
  <% end %>
  <%= render :partial => 'shared/token_form' %>

  <div class="row">
    <%= yield %>
  </div>
</div><!-- /container -->

<!-- Load JS here for greater good =============================-->
<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/jquery.dropkick-1.0.0.js"></script>
<script src="/js/custom_checkbox_and_radio.js"></script>
<script src="/js/custom_radio.js"></script>
<script src="/js/jquery.tagsinput.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/application.js"></script>
<script src="/js/fastclick.js"></script>

<!-- custom script -->
<script src="/js/script.js"></script>

<!--[if lt IE 8]>
  <script src="js/icon-font-ie7.js"></script>
  <script src="js/icon-font-ie7-24.js"></script>
<![endif]-->

</body>
</html>

