<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DayToken</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/css/flat-ui.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
  <div class="row">
    <h1>
      DayToken &raquo;
      <small>One status update per day. Make it memorable.</small>
    </h1>
  </div> <!-- /demo-headline -->

  <% if current_user %>
    <%= link_to "Buddies' Ribbits", buddies_path %>
    <%= link_to "Public Profiles", users_path %>
    <%= link_to "My Profile", current_user %>
    <%= link_to "Public Ribbits", ribbits_path %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= form_tag sessions_path do %>
      <%= text_field_tag :username, nil, placeholder: "username" %>
      <%= password_field_tag :password, nil,  placeholder: "password" %>
      <%= submit_tag "Log In" %>
    <% end %>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end %>



  <%= yield %>


</div> <!-- /container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="footer-title">What's DayToken?</h3>
        <p><strong>DayToken</strong> is about remembering what's worth remembering.</p>
        <p>What if you could only make one status update per day? What would you share?</p>
        <p>Did you get in a car accident? Close a big sale? Get your Master's degree? All on the same day?</p>
        <p>Choose the one that matters the most and share it.</p>
        <a href="http://mvkel.com" target="_blank">Built by mvkel</a>
      </div> <!-- /span8 -->
    </div>
  </div>
</footer>

<!-- Load JS here for greater good =============================-->
<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="js/jquery.dropkick-1.0.0.js"></script>
<script src="js/custom_checkbox_and_radio.js"></script>
<script src="js/custom_radio.js"></script>
<script src="js/jquery.tagsinput.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script src="js/application.js"></script>
<!--[if lt IE 8]>
  <script src="js/icon-font-ie7.js"></script>
  <script src="js/icon-font-ie7-24.js"></script>
<![endif]-->
</body>
</html>

