<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @app_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/css/flat-ui.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end %>

  <div class="row">
    <div class="span9">
      <h1 class="demo-panel-title"><%= @app_name %></h1>
    </div>
    <div class="span3">
      <% if current_user %>
       <%= render :partial => 'shared/user_menu' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% unless current_user %>
      <%= render :partial => 'shared/signup_form' %>
      <%= render :partial => 'shared/login_form' %>
    <% end %>

    <%= render :partial => 'shared/token_form' %>

    <%= yield %>
  </div>
</div><!-- /container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="footer-title"><%= @app_name %></h3>
        <h5>What do you want to remember about today?</h5>
      <p>What if you could only make one status update per day? What would you share?</p>
      <p>Did you close a big sale? Get your Master's degree? Share an existential moment with your dog?</p>
      <p>Choose the one that matters the most and share it. One at a time.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Load JS here for greater good =============================-->
<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/jquery.dropkick-1.0.0.js"></script>
<script src="/js/custom_checkbox_and_radio.js"></script>
<script src="/js/custom_radio.js"></script>
<script src="/js/jquery.tagsinput.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/application.js"></script>
<!--[if lt IE 8]>
  <script src="js/icon-font-ie7.js"></script>
  <script src="js/icon-font-ie7-24.js"></script>
<![endif]-->
</body>
</html>

